<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Its gone!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">Send it back!</button>
</li>